

.ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.a { 
    font-family: 'Arial';
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.a:hover {
    color: #4a5568;
    transform: scale(1.1);
}

.li {
   
    float: right;
}
